/* example configuration. rename to config.js to activate! */

// the reddit user account of the bot
//
var credentials = {
  username: 'USERNAME',
  password: 'PASSWORD'
};

// the HTTP UserAgent that the bot identifies himself with
// 
var user_agent = 'USER-AGENT';

// from https://www.reddit.com/prefs/apps/
//
var app = {
  id: 'APP-ID',
  secret: 'APP-SECRET'
};

// irc configuration
// 
var irc = {
  nick: credentials.username,
  pass: 'NICKSERV-PASSWORD',
  host: 'IRC-SERVER',
  channel: '#CHANNELNAME'
};
    
// defaults
//
var defaults = {
  subreddit: "DEFAULT_SUBREDDIT"
};

// slogan
//
var slogan = "SLOGAN";

module.exports = {
  credentials: credentials,
  user_agent: user_agent,
  app: app,
  irc: irc,
  defaults: defaults,
  slogan: slogan
};
